#sidebar {
  flex-basis: 10rem;
  flex-grow: 1;
}

#sidebar-floating {
  position: sticky;
  top: 0;
}

main {
  flex-basis: 0;
  flex-grow: 999;
  min-width: 50%;
}

.channel-tag {
  display: inline;
  border: 1px solid black;
}
