/*
 * index.html
 */

/* root vue element */
#app {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

/*
 * Common to all vue pages
 */

 /* root sidebar floating element */
.sidebar {
  flex-basis: 5rem;
  flex-grow: 1;
  
  height: 100%;
  position: sticky;
  top: 0;
}

/* root main element */
main {
  flex-basis: 0;
  flex-grow: 999;
  min-width: 50%;
}
