<nav>
    <a href="/">Home</a>
    <a href="/subscriptions">Subscriptions</a>
</nav>

<form action="" method="POST">
    <button name="reloadTemplate">Debug Reload Templates</button>
</form>

<ul>
{{#each messages}}
<li>{{this}}</li>
{{/each}}
</ul>
