<!DOCTYPE html>
<html>

<head>
  {{> partialHead}}
</head>

<body>
  {{> partialBodyStart}}
  <div id="app">
    <h1>Subscriptions</h1>
    <div class="subscription-box">
        <form>
            <label>
                Upload subscription list from <a href="https://www.youtube.com/subscription_manager?action_takeout=1">Youtube Subscription Manager</a>
                <input type="file" name="xml" accept="application/xml, text/xml, text/x-opml">
                <button name="uploadSubscriptions" />
            </label>
        </form>
        

    </div>
    <ul>
      {{#each subscription}}
      <li><a href="https://www.youtube.com/channel/{{channelId}}">{{name}}</a></li>
      {{/each}}
    </ul>
  </div>
</body>

</html>